@use 'sass:color';
@use "./flash.scss" as *;

@font-face {
	font-family: Freshman;
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Freshman"), url(../fonts/freshman/freshman-normal.woff2) format("woff2");
}

* {
	margin: 0;
	padding: 0;
	color-scheme: light;

	box-sizing: border-box;

	font-family: monospace;
}

$yellow-color: #f0c10c;
$beige-color: #f3e0bc;
$brown-color: #34221b;

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

input[type="submit"] {
	background-color: $yellow-color;
	padding-inline: 2em;
	border-style: solid;
	border-color: color.adjust($yellow-color, $lightness: -10%);
}
