@use "./global.scss" as *;
@use "sass:color";

body {
	background-color: $beige-color;

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;

		padding: 10em;
		height: 50vh;

		gap: 0;

		color: $brown-color;

		> div {
			display: flex;
			flex-direction: column;
			gap: 1em;

			#profile {
				display: flex;
				flex-direction: column;
				align-items: center;

				text-align: center;

				gap: 1em;

				height: 100%;

				header {
					font-weight: bolder;
					font-size: 3em;
					text-align: center;
				}
				#info {
					display: flex;
					flex-direction: column;
					text-align: center;
				}
				#logout {
					margin-top: auto;
				}
			}

			#logs {
				background-color: color.adjust($brown-color, $lightness: 10%);
				border: 4px solid $brown-color;

				flex-grow: 1;

				display: flex;
				flex-direction: column;

				height: 48vh;
				overflow-y: scroll;

				color: $beige-color;

				.empty {
					width: 100%;
					height: 100%;

					display: flex;
					justify-content: center;
					align-items: center;
				}

				.log-group {
					background-color: $yellow-color;

					&:nth-child(even) {
						background-color: color.adjust($yellow-color, $lightness: 5%);
					}

					summary {
						color: $brown-color;
						padding: 1.5em;
					}

					.log {
						background-color: color.adjust($brown-color, $lightness: 12.5%);

						display: grid;
						grid-template-columns: 0.25fr 0.75fr;

						width: 100%;

						&:nth-child(even) {
							background-color: color.adjust($brown-color, $lightness: 15%);
						}

						div {
							padding: 1.5em;
						}

						.log-type {
							&[logType="in"] {
								background-color: hsla(128, 100%, 50%, 0.25);
							}
							&[logType="out"] {
								background-color: hsla(0, 100%, 50%, 0.25);
							}
						}
					}
				}
			}

			#buttons {
				display: flex;
				justify-content: center;
				gap: 1em;

				margin-top: auto;

				form {
					display: flex;
					justify-content: center;
					align-items: center;
				}

				#timein input {
					background-color: hsla(128, 100%, 30%, 1);
					border-color: hsla(128, 75%, 30%, 1);
					color: $beige-color;
				}

				#timeout input {
					background-color: hsla(0, 100%, 30%, 1);
					border-color: hsla(0, 75%, 30%, 1);
					color: $beige-color;
				}
			}
		}
	}
}

#flash {
	.error {
		color: red;
	}
	.success {
		color: green;
	}
}