# ignore for now
NODE_ENV=

# where the server runs
# leave blank for 3000
PORT=

SESSION_SECRET=random_long_ahh_unique_string

# database config
DATABASE_NAME=cla-db-dev
DATABASE_USER=admin
DATABASE_PASSWORD=strong_ahh_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

DEFAULT_ADMIN_PASSWORD=strong_ahh_password
