@font-face {
  font-family: Freshman;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: local("Freshman"), url(../fonts/freshman/freshman-normal.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  color-scheme: light;
  box-sizing: border-box;
  font-family: monospace;
}
*:focus {
  border: 4px solid #f0c10c;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

input[type=submit] {
  background-color: #f0c10c;
  padding: 0.5em;
  padding-inline: 2em;
  border: solid rgb(191.4285714286, 153.9404761905, 9.5714285714);
}

button {
  background-color: #f0c10c;
  padding: 0.5em;
  padding-inline: 2em;
  border: solid rgb(191.4285714286, 153.9404761905, 9.5714285714);
}

.dialogbox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5em;
  color: white;
  background-color: #34221b;
  border: 2px solid rgb(18.4303797468, 12.0506329114, 9.5696202532);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.dialogbox .title {
  font-weight: 900;
  color: #f0c10c;
  font-size: 2em;
}
.dialogbox .textbox input {
  width: 100%;
}
.dialogbox .buttons {
  display: flex;
  justify-content: end;
  gap: 1em;
}
.dialogbox .buttons button {
  padding: 0.25em;
  padding-inline: 1em;
}
.dialogbox .buttons .no {
  background-color: hsl(0, 100%, 30%);
  border: solid hsl(0, 100%, 35%);
  color: white;
}
.dialogbox .buttons .yes {
  background-color: hsl(128, 100%, 30%);
  border: solid hsl(128, 100%, 35%);
  color: white;
}

body {
  background-color: #f3e0bc;
}
body #changeusername_dialogbox {
  display: none;
}
body #changeusername_dialogbox .dialogbox .textbox input[valid=false] {
  background-color: hsl(0, 100%, 80%);
  border-color: hsl(0, 100%, 30%);
}
body #deleteuser_dialogbox {
  display: none;
}
body main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 6em;
  padding-inline: 25%;
  height: 100%;
}
body main > * {
  width: 100%;
}
body main header {
  background-color: rgb(68.7848101266, 44.9746835443, 35.7151898734);
  padding: 0.5em;
  color: #f0c10c;
  font-size: 3em;
  font-family: "Freshman";
  text-align: left;
}
body main #logs {
  background-color: rgb(85.5696202532, 55.9493670886, 44.4303797468);
  border: 4px solid #34221b;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 48vh;
  overflow-y: scroll;
  color: #f3e0bc;
}
body main #logs .empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #logs .log-group {
  background-color: #f0c10c;
}
body main #logs .log-group:nth-child(even) {
  background-color: rgb(243.9285714286, 200.5654761905, 33.5714285714);
}
body main #logs .log-group summary {
  color: #34221b;
  padding: 1.5em;
}
body main #logs .log-group .log {
  background-color: rgb(93.9620253165, 61.4367088608, 48.7879746835);
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  width: 100%;
}
body main #logs .log-group .log:nth-child(even) {
  background-color: rgb(102.3544303797, 66.9240506329, 53.1455696203);
}
body main #logs .log-group .log div {
  padding: 1.5em;
}
body main #logs .log-group .log .log-type[logType=in] {
  background-color: hsla(128, 100%, 50%, 0.25);
}
body main #logs .log-group .log .log-type[logType=out] {
  background-color: hsla(0, 100%, 50%, 0.25);
}
body main #logs-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: auto;
}
body main #logs-buttons form {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #logs-buttons #timein input {
  background-color: hsl(128, 100%, 30%);
  border-color: hsl(128, 75%, 30%);
  color: #f3e0bc;
}
body main #logs-buttons #timeout input {
  background-color: hsl(0, 100%, 30%);
  border-color: hsl(0, 75%, 30%);
  color: #f3e0bc;
}
body main #admin {
  margin-top: 6em;
  padding-bottom: 6em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body main #admin .title {
  font-weight: 900;
  font-size: 2.5em;
  color: red;
  text-align: center;
}
body main #admin .buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
}
body main #admin .buttons button {
  font-weight: 900;
  background-color: hsl(0, 100%, 40%);
  border: solid hsl(0, 100%, 45%);
  color: white;
}

/*# sourceMappingURL=profile.css.map */
